<p>Пользователь: <%= @msg_params[:order][:name] %> </p>
<p>Скидка: <%= @current_user.discount %> </p>
<p>Адрес: <%= @msg_params[:order][:address] %> </p>
<p>Номер телефона: <%= @msg_params[:order][:phone_number] %> </p>
<br>
<p>В вас купили такие товары: </p>
<br>
<% JSON.parse(@items).each do |line_item|%>
  <p>Название: <%= Item.find(line_item["item_id"]).title %> </p>
  <p>Артикул: <%= line_item["article"] %> </p>
  <p>Количество: <%= line_item["quantity"] %> </p>
  <p>Цена(1шт): <%= LineItem.new(article: line_item["article"], quantity: 1).price(@current_user) %> </p>
  <br>
<% end %>
<br>
<p>На сумму: <%= @total_price %> <%= @currency %> </p>